/* Global Variables */

body {

	font-family: verdana;
	margin: 0 auto;
	padding: 0;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	background-color: yellow;
}

/* ------ No gi Section configurations (global variables) ------ */

.section-wrapper {
	width: 100%;
	margin-top: 0px;
	overflow: hidden; /* To have parent Div cover all it's children */
	background-attachment: fixed;
	background-size: cover;
}

.section-image-overlay {
	width: 100%;
	background: rgba(0,0,0,0.50);
	overflow: hidden; /* To have parent Div cover all it's children */
}

.section-description-container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.section-description-header {
	height: 70px;
	width: 100%;
	margin-top: 0px;
	font-size: 16px;
	text-align: center;
	letter-spacing: 8px;
	padding-top: 24px;
	line-height: 24px; /* 1.5x */
	text-transform: uppercase;
	color: white;
	background-color: orange;
}

.section-description-paragraph, .sub-section-paragraph {
	width: 85%;
	margin: 25px auto;
	font-size: 14px;
	line-height: 24px; /* 1.7x */
	padding: 5%;
	color: white;
	background-color: green;
}

.sub-section-header {
	height: 40px;
	width: 275px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin: 50px auto;
	padding-top: 18px;
	color: white;
	text-align: center;
	background-color: blue;
}

.sub-section-paragraph {
	background-color: rgba(0,178,182,0.35);
}

.scroll-sub-section-paragraph {
	height: 100%;
	width: 90%;
	margin: 0 auto;
	padding: 24px 8px 0 12px;
	font-size: 14px;
	font-family: arial;
	letter-spacing: 1px;
	color: white;
	line-height: 32px;
}

.sub-section-header-clicked {
	background-color: #FF5719;
}


/* --- Start of Nogi Content --- */

.fixed-header {
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0px;
	background-color: #eeeeee;
}

/* - Navigation panel - */

.menu-button-container {
	height: 50px;
	width: 50px;
	margin: 5px auto;
	float: left;
	background-color: #eeeeee;
}

.dropdown-menu-button {
	height: 100%;
	width: 100%;
	background-image: url('https://ddiostips.files.wordpress.com/2013/12/burger.png?w=470');
	background-size: cover;
}

/* Dropdown menu */

.nogi-dropdown-menu {
	display: none;
	position: absolute;
	height: 355px;
	width: 175px;
	top: 44px;
	left: 0;
	background-color: #eeeeee;
}

.nogi-dropdown-menu-item {
	height: 35px;
	width: 155px;
	margin: 10px auto 0 0;
	padding-top: 12px;
	font-size: 16px;
	letter-spacing: 0.1em;
	text-align: left;
	list-style: none;
	background-color: #eeeeee;
}

.nogi-dropdown-menu-item a {
	color: black;
	text-decoration: none;
	text-transform: none;
}

/* Fixed-Header Title */

.fixed-header-title {
	height: 60px;
	width: 80%;
	margin: 0 auto 0 60px;
}

.nogi-flowchart {
	height: 45px;
	font-size: 24px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: center;
	color: black;
	letter-spacing: 0.1em;
	background-color: #eeeeee;
}

/* ----- No Gi Homepage Content ----- */

.homepage.section-wrapper {
	margin-top: 60px;
	background-image: url('https://torontonogi.files.wordpress.com/2014/10/cropped-dsc0384.jpg');
}

.homepage.section-description-header {
	background-color: teal;
}

/* Nogi content sliders */


.slider-wrapper {
	display: none;
	width: 100%;
	margin: 0px auto;
}

.slider-content-container {
	height: 100%;
	width: 90%;
	margin: 0 auto;
	padding: 2% 2.5% 5% 2.5%;
	background-color: rgba(255,87,25,0.95);
}

/* ------ No Gi Stand-up Section ------ */

.stand-up.section-wrapper {
	background-image: url('http://www.graciemag.com/en/wp-content/uploads/2014/04/1979262_854901214525212_4940845710231558134_o.jpg'); 
	background-position: 10% 30%;
}

.stand-up-control-section {
	width: 100%;
	margin: 25px auto;
}

/* stand-up slider menu */

#slider-menu-wrapper {
	height: 40px;
	width: 100%;
	margin: 25px auto;
}

/* sidenotes button */

.sidenotes-slider-button {
	height: 40px;
	width: 125px;
	float: left;
	background-color: #00b2b6;
}

.sidenotes-slider-button-text {
	height: 100%;
	width: 100%;
	margin-top: 0px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 4px 8px 0 0;
	color: white;
}

/* Stats Button */

.stats-slider-button {
	height: 40px;
	width: 125px;
	float: right;
	background-color: #00b2b6;
}

.stats-slider-button-text {
	height: 100%;
	width: 100%;
	margin-top: 0px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 4px 8px 0 0;
	color: white;
}

.standup-slider-clicked {
	background-color: #FF5719;
}

/* Stand-up slider panels Container */

.standup-section-panels-container {
	width: 100%;
}

/* - Left Panel - */

.standup-sidenote-panel {
	display: none;
	margin-top: 15px;
	margin-bottom: 25px;
	height: 300px;
	width: 50%;
	float: left;
}

.standup-sidenote-overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(255,87,25,0.95);
	overflow: scroll;
}

.standup-sidenote {
	font-size: 14px;
	font-family: arial;
	letter-spacing: 2px;
	margin-top: 40px;
	color: white;
}

.standup-sidenote span {
	padding-bottom: 2px;
	border-bottom: solid 1px white;
}

.sidenote-item {
	font-size: 14px;
	font-family: arial;
	text-align: left;
	padding-right: 5px;
	line-height: 24px;
	margin-top: 15px;
}

/* - Right Panel - */

.standup-right-panel {
	display: none;
	margin-top: 15px;
	margin-bottom: 25px;
	height: 300px;
	width: 50%;
	float: right;
}

.standup-right-panel-overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(255,87,25,0.95);
	overflow: scroll;
}

.standup-statistics-table {
	font-size: 16px;
	font-family: arial;
	letter-spacing: 2px;
	margin-top: 40px;
	color: white;
}

.standup-statistics-table span {
	letter-spacing: 2px;
	border-bottom: solid 1px white;
}

.standup-statistics-table li {
	font-size: 12px;
	font-family: arial;
	text-align: left;
	padding-right: 5px;
	line-height: 24px;
	margin-top: 15px;
}

/*------ Guard-play Section ----- */

.guard-play.section-wrapper {
	background-image: url('http://www.phase3.biz/core/uploads/JJP/photos/Deep%20half%20to%20xguard%20nogi.jpg');
}

/*----- Dominating Section ------*/

.dominating.section-wrapper {
	background-image: url('http://4.bp.blogspot.com/-1HBaNN6TRY4/UhWTuJ5GdMI/AAAAAAAAAM8/Ll-H64c-or8/s1600/No-Gi-World-Champs-2009-3.jpg');
	background-position: 20%, 50%;
}

/*----- Dominated Section -----*/

.dominated.section-wrapper {

}




















