

/* Colors used: 

light blue: #0074BF;
Dark Blue: #035082
Purple: #3B0492
Light blue (wrapper background): background-color: #E0EEF7;;
*/

/* ------ Gi Section (global variables) ------ */

body {
	font-family: arial;
	margin: 0 auto;
	padding: 0;
}

.page-wrapper {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: white;
}

/* fixed-top-menu-bar and menu-header(s) */

.fixed-top-menu-bar {
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0px;
	background-color: #035082;
}

.menu-header {
	height: 100%;
	width: 75%;
	margin: 0 auto;
}

.mobile-header, .desktop-header {
	font-size: 28px;
	margin: 0 auto;
	padding-top: 16px;
	text-align: center;
	color: white;
	letter-spacing: 1px;
}

.desktop-header {
	display: none;
}

/* mobile menu */

.mobile-menu-button-container {
	height: 50px;
	width: 50px;
	margin: 5px auto;
	float: left;
}

.mobile-menu-button {
	height: 100%;
	width: 100%;
	background-image: url('https://ddiostips.files.wordpress.com/2013/12/burger.png?w=470');
	background-size: cover;
}

.gi-mobile-menu {
	display: none;
	position: absolute;
	height: 320px;
	width: 175px;
	top: 45px;
	left: 0;
	background-color: #0074BF;
}

.gi-mobile-menu-item {
	position: relative;
	height: 30px;
	width: 170px;
	margin-top: 2px;
	margin-left: -20px;
	left: 0px;
	padding-top: 12px;
	font-size: 16px;
	letter-spacing: 0.1em;
	text-align: center;
	list-style: none;
	background-color: #0074BF;
}

.gi-mobile-menu-item a {
	color: white;
	text-decoration: none;
	text-transform: none;
}

/* :hover */

:hover.gi-mobile-menu-item {
	background-color: white;
}
:hover.gi-mobile-menu-item a {
	color: #0074BF;
}

/* Altenate Menu */

.alternate.gi-menu, .alternate.gi-menu-item, .alternate.gi-menu-item a {
	display: none;
}

/* Section variables */

.section-wrapper {
	width: 100%;
	overflow: hidden; /* To have parent Div cover all it's children */
}

.section-header {
	margin: 85px auto 10px auto;
	padding: 10px 25px 15px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 6px;
	line-height: 32px;
	text-transform: uppercase;
	color: #035082;
}

.section-description-container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.section-description-paragraph {
	width: 90%;
	margin: 0 auto 15px auto;
	font-size: 15px;
	line-height: 20px;
	color: #035082;
}

.aside-content {
	padding-bottom: 80px;
}

/* ------ Gi Sub-section (global variables) ------ */

.first.sub-section-header-container {
	margin-top: 50px;
}

.sub-section-header-container {
	height: 40px;
	width: 275px;
	margin: 5px auto;
	padding-top: 10px;
	background-color: #035082;
}

.sub-section-header {
	height: 90%;
	width: 90%;
	margin: 5px auto;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	text-align: center;
}

.sub-section-header-clicked {
	background-color: #FF1450;
}

/* :hover */

.js-section-header:hover {
	cursor: pointer;
}

.toggle-scroll-paragraph-button {
	height: 25px;
	width: 25px;
	margin-left: 5px;
	margin-top: 2px;
	float: left;
	background-image: url(http://campsonshine.org/wp-content/uploads/2015/09/menu_down_arrow.png);
	background-size: contain;
}

.rotate {
	/* Safari */
	-webkit-transform: rotate(-180deg);
	/* Firefox */
	-moz-transform: rotate(-180deg);
	/* IE */
	-ms-transform: rotate(-180deg);
	/* Opera */
	-o-transform: rotate(-180deg);
}

/* ------ Slider Content (global variables) ------ */

.slider-wrapper {
	display: none;
	width: 98%;
	margin: 0px auto;
}

.dropdown-slider-panel {
	width: 95%;
	margin: 0 auto;
}	

.slider-content-container {
	height: 100%;
	padding: 5%;
	margin: 0 auto;
	background-color: #FF1450;
}

.scroll-sub-section-paragraph {
	height: 100%;
	width: 100%;
	font-size: 14px;
	line-height: 20px; /* 1.4x */
	color: white;
}

/* Toggle Read Tap cards */

.complete-text {
	display: none;
}

.toggle-read-text {
	background-color: #FF1450;
	font-size: 12px;
	padding: 5px;
	color: white;
	width: 60px;
	margin: 40px auto 0 auto;
}
.sub-section.toggle-read-text {
	border: 2px solid white;
}

/* ------ Homepage Section ------ */

/* Section Queue Cards */

.queue-card-anchor {
	display: block;
	margin: 0;
}

.queue-image-overlay:hover {
	background-color: rgba(0, 14, 80, 0.85);
}

.queue-card-wrapper {
	display: inline-block;
}

.queue-card {
	height: 125px;
	width: 100%;
	margin: 0px auto;
	border-top: 1px solid white;
	background-position: center;
	background-size: cover;
}

.queue-image-overlay{
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: rgba(0, 14, 80, 0.45);
}

.queue-header-strip {
	width: 90%;
	height: 25px;
	margin: 0 auto 10px;
}

.queue-header {
	font-size: 14px;
	float: left;
	margin: 0;
	padding: 10px 12px 0;
	text-transform: uppercase;
	font-weight: 800;
	color: red;
}

.queue-title {
	display: inline-block;
	font-size: 15px;
	padding: 10px 25px 15px;
	color: white;
}

.about.queue-card {
	height: 200px;
	width: 100%;
	margin-top: 62px;
	background-image: url(http://www.graciebarra.com/wp-content/uploads/2015/01/Takedowns1.jpg);
}

.stand-up.queue-card {
	background-image: url(https://img.breakingmuscle.com/sites/default/files/imagecache/full_width/images/bydate/aug_29_2012_-_1146am/shutterstock_3152625.jpg);
}

.guard-play.queue-card {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c8/Brazilian_Jiu-jitsu-Closed_guard.jpg);

}

.guard-passing.queue-card {
	background-image: url(http://www.grapplearts.com/wp-content/uploads/2012/04/Margarida-Guard-Pass-5.jpg);

}

.dominating.queue-card {
	background-image: url(http://www.graciemag.com/en/wp-content/uploads/2013/12/victorestimabw.jpg);

}

.dominated.queue-card {
	border-bottom: 1px solid white;
	background-image: url(http://www.graciemag.com/pt/wp-content/uploads/2012/02/Kyra-ataca-as-costas-no-Jiu-Jitsu1.jpg);
}

/* ------ About Section ------ */

/* ------ Stand-up Section ------ */

.clinch-control.sub-section-header {
	width: 100%;
}

/* ------ Guard-play Section ------ */

/* ------ Guard-passing Section ------ */

/* ------ Dominating Section ------ */

/* ------ Dominated Section ----- */

.dominated.sub-section-header {
	width: 100%;
}



/* --- Media Queries (over 350px) --- */

	@media (min-width: 350px) {


		.section-header {
			font-size: 26px;
			line-height: 36px;
		}

		.section-description-paragraph {
			width: 90%;
			line-height: 22px;
		}

		.slider-content-container {
			width: 90%;
		}

		.scroll-sub-section-paragraph {
			font-size: 15px;
			line-height: 24px;
		}
	} /*-- End of Media Query >350px --*/


		@media (min-width: 500px) {

			.section-header {
				font-size: 28px;
				line-height: 42px;
				width: 450px;
			}

			.section-description-paragraph {
				width: 80%;
			}

			.scroll-sub-section-paragraph {
				font-size: 15px;
				line-height: 24px;
			}

		} /*-- End of Media Query >500px --*/


			@media (min-width: 650px) {

				.section-header {
					font-size: 32px;
					line-height: 44px;
				}

				.section-description-paragraph {
					width: 75%;
				}

			} /*-- End of Media Query >650px --*/


				@media (min-width: 800px) {

					.section-description-paragraph {
						width: 70%;
						font-size: 16px;
						line-height: 24px; /* 1.5x */
					}

					.scroll-sub-section-paragraph {
						font-size: 16px;
						line-height: 25px; /* 1.4x */
					}

				} /*-- End of Media Query >800px --*/


					@media (min-width: 1050px) {

						.main-content {
							width: 50%;
							float: left;
							padding-bottom: 10%;
							padding-left: 5%;
							padding-top: 5%;
							text-align: justify;
						}

						.aside-content {
							width: 42.5%;
							float: left;
							padding-top: 5%;
							padding-bottom: 5%;
						}

						.section-header {
							margin-top: 50px;
						}

						.section-description-paragraph {
							width: 90%;
						}

						.teaser-text {
							margin-top: 15px;
						}

						.sub-section-header-container {
							height: auto;
							margin: 2px auto;
							padding: 5px;
						}

						.scroll-sub-section-paragraph {
							font-size: 14px;
							line-height: 22px; /* 1.6x */
						}
					} /*-- End of Media Query >1050px --*/

						@media (min-width: 1150px) {

							.teaser-text {
								margin-top: 15px;
							}

						} /*-- End of Media Query >1050px --*/

						@media (min-width: 1390px) {

							.dropdown-slider-panel {
								width: 100%;
								margin: 0 auto;
							}	
						} /*-- End of Media Query >1390px --*/





















