
/* Colors used: 

light blue: #0074BF;
Dark Blue: #035082
Purple: #3B0492

*/


body {
	font-family: sans-serif;
	margin: 0 auto;
	padding: 0;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	background-color: #0074BF;
}

.content-space-divider {
	height: 50px;
	width: 100%;
}

.media-query-content-space-divider {
	height: 35px;
	width: 100%;
}

/* Fixed-Header and Header-title */

.fixed-header {
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0px;
	background-color: white;
}

.fixed-header-title {
	height: 100%;
	width: 225px;
	margin: 0 auto;
}

.gi-flowchart {
	font-size: 28px;
	margin: 0 auto;
	padding-top: 16px;
	text-align: center;
	color: #0074BF;
	letter-spacing: 0.1em;
}

/* Dropdown menu button and container */

.menu-button-container {
	height: 50px;
	width: 50px;
	margin: 5px auto;
	float: left;
}

.dropdown-menu-button {
	height: 100%;
	width: 100%;
	background-image: url('https://ddiostips.files.wordpress.com/2013/12/burger.png?w=470');
	background-size: cover;
}

.gi-dropdown-menu {
	display: none;
	position: absolute;
	height: 350px;
	width: 150px;
	top: 44px;
	left: 0;
	background-color: #3B0492;
}

.gi-dropdown-menu-item {
	height: 35px;
	width: 170px;
	margin: 2px auto 0 -30px;
	padding-top: 12px;
	font-size: 16px;
	letter-spacing: 0.1em;
	text-align: center;
	list-style: none;
	background-color: #3B0492;
}

.gi-dropdown-menu-item a {
	color: white;
	text-decoration: none;
	text-transform: none;
}

/* ------ Gi Section (global variables) ------ */

.section-wrapper {
	width: 100%;
	margin-top: 0px;
	overflow: hidden; /* To have parent Div cover all it's children */
}

.section-header {
	height: 70px;
	width: 100%;
	font-size: 20px;
	text-align: center;
	letter-spacing: 8px;
	padding-top: 24px;
	line-height: 24px; /* 1.5x */
	text-transform: uppercase;
	color: #0074BF;
	background-color: white;
}

.section-description-container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.section-description-paragraph {
	width: 85%;
	margin: 0 auto;
	font-size: 14px;
	line-height: 20px; /* 1.4x */
	padding: 5%;
	color: white;
}

/* ------ Gi Sub-section (global variables) ------ */

.sub-section-header-container {
	height: 40px;
	width: 280px;
	margin: 50px auto 5px auto;
	padding-top: 10px;
	background-color: #035082;
}

.sub-section-header {
	height: 90%;
	width: 90%;
	margin: 5px auto;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	text-align: center;
}

.sub-section-header-clicked {
	background-color: #3B0492;
}

.toggle-scroll-paragraph-button {
	height: 25px;
	width: 25px;
	margin-left: 5px;
	margin-top: 2px;
	float: left;
	background-image: url(http://www.hub88workspace.com/img/arrow_down.png);
	background-size: contain;
}

.rotate {
	/* Safari */
	-webkit-transform: rotate(-180deg);
	/* Firefox */
	-moz-transform: rotate(-180deg);
	/* IE */
	-ms-transform: rotate(-180deg);
	/* Opera */
	-o-transform: rotate(-180deg);
}

/* ------ Slider Content (global variables) ------ */

.slider-wrapper {
	display: none;
	width: 100%;
	margin: 0px auto;
}

.slider-content-container {
	height: 100%;
	width: 90%;
	margin: 0 auto;
	padding: 2% 2.5% 5% 2.5%;
	background-color: #3B0492;
}

.scroll-sub-section-paragraph {
	height: 100%;
	width: 90%;
	margin: 5px auto;
	padding: 5%;
	font-size: 14px;
	line-height: 20px; /* 1.4x */
	color: white;
}

/* ----- Homepage Section ----- */

.homepage.section-header {
	margin: 70px auto 0 auto;
	color: white;
	background-color: transparent;
}

/* ------ Stand-up Section ------ */

.clinch-control.sub-section-header {
	width: 100%;
}

/* ------ Dominated Section ----- */

.dominated.sub-section-header {
	width: 100%;
}

/* --- Media Queries (over 355px) --- */

	@media (min-width: 350px) {

		.homepage.section-header {
			margin-top: 75px;
		}

		.section-header {
			padding-top: 20px;
			padding-bottom: 8px;
			font-size: 22px;
			line-height: 30px; /* x1.4 */
		}

		.section-description-paragraph {
			width: 80%;
			line-height: 22px;
		}

		.sub-section-header-container {
			margin-top: 65px;
		}

		.slider-content-container {
			width: 80%;
		}

		.scroll-sub-section-paragraph {
			width: 80%;
			font-size: 15px;
			line-height: 24px; /* 1.6x */
		}

		.media-query-content-space-divider {
			height: 65px;
		}

	} /*-- End of Media Query >355px --*/


		@media (min-width: 500px) {

			.homepage.section-header {
				margin-top: 80px;
			}

			.section-header {
				font-size: 24px;
				line-height: 30px; /* 1.4x */
			}

			.section-description-paragraph {
				width: 75%;
				font-size: 15px;
				line-height: 23px; /* 1.5x */
			}

			.sub-section-header-container {
				margin-top: 80px;
			}

			.slider-content-container {
				width: 75%;
				padding: 2.5% 0% 5% 0%;
			}

			.scroll-sub-section-paragraph {
				width: 75%;
				font-size: 15px;
				line-height: 24px; /* 1.6x */
				padding: 5% 0 2.5% 0;
			}

			.media-query-content-space-divider {
				height: 95px;
			}


		} /*-- End of Media Query >500px --*/


			@media (min-width: 650px) {

				.homepage.section-header {
					margin-top: 85px;
				}

				.section-header {
					padding-bottom: 24px;
					font-size: 26px;
					line-height: 36px; /* x1.4 */
				}

				.section-description-paragraph {
					width: 70%;
				}

				.sub-section-header-container {
					margin-top: 95px;
				}

				.slider-content-container {
					width: 65%;
				}

				.scroll-sub-section-paragraph {
					width: 65%;
					padding: 2.5% 0;
				}

				.media-query-content-space-divider {
					height: 125px;
				}

			} /*-- End of Media Query >650px --*/


				@media (min-width: 800px) {

					.section-header {
						padding-bottom: 28px;
						font-size: 28px;
						line-height: 39px; /* x1.4 */
					}

					.section-description-paragraph {
						width: 65%;
						font-size: 16px;
						line-height: 24px; /* 1.5x */
						padding: 3% 0;
					}

					.slider-content-container {
						width: 675px;
					}

					.scroll-sub-section-paragraph {
						font-size: 16px;
						line-height: 25px; /* 1.4x */
					}

					.media-query-content-space-divider {
						height: 155px;
					}

				} /*-- End of Media Query >800px --*/


					@media (min-width: 1050px) {

						.main-content {
							width: 45%;
							float: left;
							padding-bottom: 10%;
							padding-left: 5%;
							padding-top: 5%;
							text-align: justify;
						}

						.aside-content {
							width: 50%;
							float: right;
							padding-top: 5%;
							padding-bottom: 2%;
						}

						.homepage.main-content, .homepage.aside-content {
							padding-top: 0%;
						}
						
						.homepage.section-header {
							margin-top: 80px;
						}

						.section-header {
							font-size: 24px;
							line-height: 30px; /* 1.4x */
						}

						.section-description-paragraph {
							width: 90%;
							font-size: 15px;
							line-height: 23px; /* 1.5x */
						}

						.sub-section-header-container {
							margin-top: 20px;
						}

						.slider-content-container {
							width: 95%;
							padding: 2.5% 0%;
						}

						.scroll-sub-section-paragraph {
							width: 90%;
							font-size: 14px;
							line-height: 22px; /* 1.6x */
							padding: 2.5% 0;
						}

										

					} /*-- End of Media Query >1050px --*/




















