
/* ------ Gi Section (global variables) ------ */

body {
	font-family: arial;
	margin: 0 auto;
	padding: 0;
}

.bjj-hompage.page-wrapper {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: white;
}

/* fixed-top-menu-bar and menu-header(s) */

.fixed-top-menu-bar {
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0px;
	background-color: white;
}

.menu-header {
	height: 100%;
	width: 75%;
	margin: 0 auto;
}

.mobile-header, .desktop-header {
	font-size: 28px;
	margin: 0 auto;
	padding-top: 16px;
	text-align: center;
	color: black;
	letter-spacing: 1px;
}

.desktop-header {
	display: none;
}

/* mobile menu */

.mobile-menu-button-container {
	height: 50px;
	width: 50px;
	margin: 5px auto;
	float: left;
}

.mobile-menu-button {
	height: 100%;
	width: 100%;
	background-image: url('https://ddiostips.files.wordpress.com/2013/12/burger.png?w=470');
	background-size: cover;
}

.bjj-mobile-menu {
	display: none;
	position: absolute;
	height: 350px;
	width: 175px;
	top: 44px;
	left: 0;
	background-color: #0074BF;
}

.bjj-mobile-menu-anchor, .bjj-menu-anchor {
	display: block;
	height: 30px;
	padding-top: 12px;
	margin-left: -40px;
	margin-bottom: 2px;
    width: 215px;
	color: white;
	text-decoration: none;
	text-transform: none;
}

.bjj-mobile-menu-item {
	font-size: 16px;
	letter-spacing: 0.1em;
	text-align: center;
	list-style: none;
}

/* :hover */

.bjj-mobile-menu-anchor:hover, .bjj-menu-anchor:hover {
	color: #0074BF;
	background-color: white;
}

/* Altenate Menu */

.alternate.bjj-menu, .alternate.bjj-menu-item, .alternate.bjj-menu-item a {
	display: none;
}

/* background-banner */

.bjj.background-banner {
	height: 350px;
	width: 100%;
	margin-top: 60px;
	background-image: url(https://cdn.shopify.com/s/files/1/0084/5022/products/IMG_2106_2048x2048.JPG?v=1449004652);
	background-position: center;
	background-size: cover;

}

.background-banner-image-overlay {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.35);
}

/* Section Queue Cards */

.queue-card-anchor {
	display: block;
	margin: 0;
	text-decoration: none;
}

.gi.queue-image-overlay:hover {
	background-color: rgba(31, 93, 185, 0.55);
}

.nogi.queue-image-overlay:hover {
	background-color: rgba(26, 148, 41, 0.55);
}

.queue-card-wrapper {
	display: inline-block;
	width: 100%;
}

.queue-card {
	height: 125px;
	width: 100%;
	margin: 0;
	border-top: 1px solid white;
	background-position: center;
	background-size: cover;
}

.queue-image-overlay {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.35);
}

.queue-header-strip {
	width: 100%;
}

.queue-header {
	font-size: 20px;
	margin: 0;
	padding: 35px 12px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1px;
	color: white;
}

.queue-title {
	display: inline-block;
	margin-top: 5%;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 25px 15px;
	color: white;
}

.gi.queue-card, .nogi.queue-card {
	height: 200px;
	width: 100%;
}

.gi.queue-card {
	background-image: url(http://www.graciebarra.com/wp-content/uploads/2015/01/Takedowns1.jpg);
}

.nogi.queue-card {
	background-image: url(http://gracielasvegas.com/wp-content/uploads/2015/08/no-gi.jpg);
}


/* About Section */
















